# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Dissertation Audio Input.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Games Projects\Dissertation Audio Input\.idea\.idea.Dissertation Audio Input\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
